/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #4E2C1D; /* Marrom de fundo */
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

/* Cabeçalho */
.header h1 {
    margin: 20px;
    font-size: 2.5em;
    color: #fff;
}

/* Estilo dos botões */
.button {
    background-color: #8b5e3c;
    color: white;
    border: none;
    padding: 12px 25px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #5c3b1e;
}

/* Formulários */
.form-container {
    margin-top: 20px;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: 250px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #8b5e3c;
}

/* Lista de Convidados */
.list-container {
    margin-top: 20px;
}

ul {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

li {
    font-size: 1.5em;
    margin: 8px 0;
}

/* Informações do Evento */
.info-container {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
}

/* Container para botões */
.buttons-container {
    margin-top: 20px;
}
